@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

body {
	min-height: 100vh;
}
