@import "tailwindcss";
@plugin "daisyui" {
	themes: wireframe --default, black --prefersdark;
}

:root {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

body {
	min-height: 100vh;
}
